@import '~antd/dist/antd.css';

@font-face {
  font-family: "OpenSansLight";
  src: url('../assets/fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: "OpenSans";
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: OpenSansLight !important;
  font-size: 1rem;
}

html, body, #root {
  height: 100%;
}

.app-container {
  background-color: #f2f2f2;
  min-height: 100% ;
}

.app-content-layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 200px;
}
