.content-container {
  margin-top: 3%;
  width: 92%;
  z-index: 1;
}

.content-box {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0;
  min-height: 570px;
  padding: 24px;
  padding-top: 50px;
  position: relative;

  /* shadows */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.content-top-box {
  align-items: flex-end;
  bottom: 16px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
}

.content-top-box:hover {
  cursor: pointer;
}

.content-top-icon {
  font-size: 1.2rem;
}

.content-top-icon:hover {
  color: #f44f6d;
}
