.footer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  width: 100%;
}

.footer-info-box, .footer-contact-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-contact-box {
  justify-content: space-around;
  margin-top: 8px;
  width: 25%;
}

.footer-logo {
  height: 22px;
  width: 22px;
}

.footer-linkedin {
  background-color: #fff;
}
