.header-container {
  padding: 0;
  width: 100% !important;
}

.header-box {
  background-color: #ccc;
  display: flex;
  justify-content: flex-start;
  padding: 0;

  /* shadows */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.header-name {
  font-size: 2rem;
  margin-left: 24px;
}

.header-title {
  margin-left: 10px;
}

/*.header-namebox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 75%;
}

.header-namebox span {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.header-namebox b {
  font-family: RalewayLight;
  font-weight: 400;
  font-size: 50%;
  margin-left: 12px;
}

.header-alt-title {
  font-size: 1.4rem !important;
}*/
