.post-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  padding: 4px;
  padding-top: 25px;
  position: relative;
  width: 84%;
}

.post-heading-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

.post-quick-view {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  position: absolute;
  right: 25px;
  top: 28px;
  width: 25px;
}

.post-header {
  color: rgba(0, 0, 0, 0.65);
  font-family: OpenSans !important;
  font-size: 1.3rem;
}

.post-header:hover, .post-view-icon:hover {
  color: #f5617c;
  cursor: pointer;
}

.post-date {
  font-size: 0.7rem;
}

.post-content-container {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  text-align: center;
}

.post-stack {
  color: #f5617c;
  font-size: 0.7rem;
  position: relative;
}

.post-stack span {
  font-size: 0.7rem;
  color: #f5617c;
}
