.sidemenu-sider {
  background-color: #fff !important;
  height: 120%;
  left: 0;
  overflow: auto;
  padding-top: 50px;
  position: fixed;
  width: 200px !important;
  z-index: 3;

  /* shadows */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sidemenu-sider ul {
  border: 0;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 12px;
}

.ant-menu-item > a {
  font-size: 0.9rem;
}

.ant-menu-item:hover, .ant-menu-submenu-title:hover, .ant-menu-item a:hover {
  /*color: #f44f6d;*/
  color: #f5617c;
}

.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after {
  border-right: 3px solid #f5617c;
}

.ant-menu-item-selected, .ant-menu-item-selected > a {
  color: #f5617c;
}
